*{
    margin: 0;
    padding: 0;
}


.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* nav design here */

.header{

   background-color:#FFF8F3;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.nav{
    padding:30px 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.nav .mary{
    font-size: 45px;
    font-weight: bold;
}
.nav .mary span{
    color: #FD6E00;
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul li{
    list-style: none;
    margin: 0 20px;
}

.nav ul li a{
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

.btn-primary{
    padding: 18px 35px;
    background-color: #FD6E00;
    font-size: 20px;
    font-weight:bold;
    color: white;
    border: none;
    border-radius: 5px;
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin: 0 35px 0  200px;
}


.header-content-left{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-content-left h2{
    color: #474747;
    font-size: 40px;
}
.header-content-left h1{
    font-size: 85px;
    font-weight: bold;
}


.header-content-right{
    max-width: 580px;
}

.header-content-right img{
    width: 100%;
}

/* header css end here */


/* main css start here */

.main{
    max-width: 1180px;
    margin: 80px 200px;
    background: #FFF8F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 40px;


}

.main h1{
padding: 140px 0 0 0;
}

.main p{
    width: 690px;
    text-align: center;
    color: #474747;
    padding-bottom: 120px;
}


.personal_info_header{
    display: flex;
gap: 30px;
padding-bottom: 50px;
text-align: center;
}


.p_botttom{
    padding-top: 20px;
}

.card_container{
    max-width: 1180px;
    margin: 80px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 40px;
}

.card_container_para{
    text-align: center;
    color: #474747;
    width: 100%;
}


.card-header_box{
    width: 200px;
display: flex;
flex-direction: column;
gap: 20px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
padding: 10px;
}

.card-header_box img{
    width: 50px;
}

.main-card-bound{
    display: flex;
    gap: 30px;
}
